html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}
.description {
  text-align: center;
  color: white;
  max-width: 800px;
  margin: 40px auto;
  line-height: 1.6;
}

.description p {
  text-align: center;
}
