html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}
.description {
  max-width: 600px; 
  margin: 60px auto; 
  color: white;

  font-family: 'Special Elite', cursive;
}

.description p {
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
}
